body {
  font-family: "DM Sans", sans-serif;
}

.teams-hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url("../../Images/teams.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-top: 350px; */
  height: 100vh;
  overflow-x: hidden;
}

.teams-main-text2 {
  text-align: center;
  color: white;
  font-size: 50px;
  text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8) !important;
  font-family: "DM Sans", sans-serif;
}

.teams-start-btn {
  background-color: transparent !important;
  font-size: 24px !important;
  font-weight: 500 !important;
  color: white !important;
  text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8) !important;
  border: 1px solid white !important;
  border-radius: 1px !important;
  font-family: "DM Sans", sans-serif;
  padding: 10px 50px;
}

.team-heading {
  font-family: "DM Sans", sans-serif;
  text-align: center;
}

.team-heading::after {
  display: inherit;
  content: "";
  margin-left: auto;
  margin-right: auto;
  height: 5px;
  width: 5%;
  background-color: #f26224;
}

.team-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 350px;
  border-radius: 10%;
}

.project-name {
  font-family: "DM Sans", sans-serif;
}

.projects-container {
  padding: 50px 50px;
}

.social-icon-fb {
  font-size: 20px;
  padding: 0 10px;
  color: #1878f1;
}
.social-icon-tw {
  font-size: 20px;
  padding: 0 10px;
  color: #1d9bf0;
}
.social-icon-inst {
  font-size: 20px;
  padding: 0 10px;
  color: #db1a47;
}

@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (min-width: 1440px) {
  .teams-row2 {
    display: none !important;
  }
}
@media screen and (max-width: 1440px) {
  .teams-row2 {
    display: none !important;
  }
}
@media screen and (max-width: 992px) {
  .teams-row2 {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .teams-row2 {
    display: none !important;
  }
}
@media screen and (max-width: 426px) {
  .teams-main-text2 {
    text-align: center;
    color: white;
    font-size: 25px;
    text-shadow: 3px 4px 7px rgb(81 67 21 / 80%) !important;
    font-family: "DM Sans", sans-serif;
  }

  .teams-row2 {
    display: block !important;
  }

  .teams-row {
    display: none !important;
  }

  .team-heading::after {
    width: 25%;
  }

  .member-info {
    text-align: center;
    padding-top: 30px;
  }

  .experties-text {
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
  }

  .team-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 260px;
    width: 240px;
    border-radius: 10%;
  }
}
@media screen and (max-width: 376px) {
  .teams-main-text2 {
    text-align: center;
    color: white;
    font-size: 25px;
    text-shadow: 3px 4px 7px rgb(81 67 21 / 80%) !important;
    font-family: "DM Sans", sans-serif;
  }

  .teams-row {
    display: none !important;
  }

  .teams-row2 {
    display: block !important;
  }

  .team-heading::after {
    width: 25%;
  }

  .member-info {
    text-align: center;
    padding-top: 30px;
  }

  .experties-text {
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
  }

  .team-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 260px;
    width: 240px;
    border-radius: 10%;
  }
}
@media screen and (max-width: 321px) {
  .teams-main-text2 {
    text-align: center;
    color: white;
    font-size: 25px;
    text-shadow: 3px 4px 7px rgb(81 67 21 / 80%) !important;
    font-family: "DM Sans", sans-serif;
  }

  .teams-row {
    display: none !important;
  }

  .team-heading::after {
    width: 25%;
  }

  .teams-row2 {
    display: block !important;
  }

  .member-info {
    text-align: center;
    padding-top: 30px;
  }

  .experties-text {
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
  }

  .team-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 260px;
    width: 240px;
    border-radius: 10%;
  }
}
